@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-light">
    <h1 class="display-4">Welcome</h1>
    <p>This is my project to learn ASP.NET MVC 
        <br>
        Follow my <a class="text-light" target="blank" href="https://github.com/GabrielYujiYasuda">github</a> to see more projects
    </p>
</div>
