@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-light">
    <h1>Welcome</h1>
    <h3>This is my project to learn ASP.NET MVC</h3>
    <p>Follow my <a class="text-light" target="blank" href="https://github.com/GabrielYujiYasuda">github</a> to see more projects</p>
</div>
